{% extends 'base.html.twig' %}

{% block title %}Gallerie{% endblock %}

{% block body %}
              {% if is_granted('ROLE_USER') %}
                    <li><a href="{{ path('app_add_mask') }}">Ajouter un masque</a></li>
                {% endif %}
{% endblock %}
