{% extends 'base.html.twig' %}



{% block body %}
    <section id="heroBanner">
        <div class="title_banner">
            <h1>The Mempo <span>Legacy</span></h1>
            <P>Masques d'héritage, <span>Chaque trait raconte un temps,</span><span>Tradition vivante.</span></p>
        </div>
    </section>
    <section id="newAdd">
        <div class="newAdd_title">
            <h3>Les derniers ajouts</h3>
        </div>
        <article class="newAdd_maskContainer">

            {% for mask in latestMasks %}
                <div class="newAdd_maskCard">

                    <div class="img_wrapper">
                        <img src="{{asset('uploads/images/' ~ mask.imageName)}}" alt="">
                    </div>
                    <div class="content_maskCard">
                            <h4>{{ mask.name }}</h4>
                            <p>{{ mask.story | slice(0, 150) ~ '...' }}</p>
                        </div>
                        <div class="more">
                        {# Définir le path 'id': mask.id #}
                            <a href="">En savoir +</a>
                        </div>
                </div>
            {% endfor %}


            {##############################################################################}
        </article>
    </section>
{% endblock %}
