@use '../abstract/mixin';
@use '../abstract/variable' as var;

#heroBanner {
    @include mixin.flex;
    padding-top: 80px;
    height: 95vh;
    background-image: url('/assets/img/bg_hero.png');
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;

    .title_banner {
        @include mixin.flex (column, flex-start, flex-start);
        width: 90%;
        height: 50%;
        color: var.$text-color;

        p {
            font-size: 2em;
            text-align: left;
            margin-top: 1rem;
        }

        span {
            display: block;
        }
    }
}

// Partie Derniers Projets 
#newAdd {
    @include mixin.flex($direction:column);
    margin-top: 3rem;
    margin-bottom: 15rem;

    .newAdd_title {
        margin-top: 1rem;
        @include mixin.flex;
        font-size: 2rem;
        margin-bottom: 6rem;
    }

    .newAdd_maskContainer {
        @include mixin.flex;
        flex-wrap: wrap;
        gap: 6rem;

        .newAdd_maskCard {
            background-color: var.$text-color;
            color: var.$nav-text-color;
            @include mixin.flex($justify: flex-start);
            width: 35%;
            height: 250px;
            border-radius: 5px;
            position: relative;


            .img_wrapper {
                width: 30%;
                height: 100%;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .content_maskCard {
                @include mixin.flex(column, flex-start, flex-start);
                width: 40%;
                height: 100%;
                padding-top: 50px;
                padding-left: 20px;
                gap: 2rem;
                
                h4 {
                    font-size: 1.5rem;
                    justify-self: flex-start;
                    text-transform: uppercase;
                }
            }

            // bouton link en savoir +
            .more {
                position: absolute;
                bottom: 20px;
                right: 40px;

                a {
                    color: var.$nav-text-color;
                    display: block;
                    transition: .3s ease;

                    &:hover {
                        transform: scale(1.05);
                    }
                }
            }
        }
    }
}